body{
    background-color: black;
    color: white;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header-img{
   
    background-image: url(image.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 5px 4px red;
    margin-top: 5%;

}
.container{
    padding: 10px 10%;
}
.container2{
    padding: 10px 10%;
}
.test-container{
    position: relative;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    /* width: 140px; */
    font-size: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header{
    display: flex;
    gap: 10%;
}
.full-description{
    text-align: center;
}
.full-technologies{
    display: flex;
    gap: 4%;
    list-style-type: none;
    /* margin-left: 14%; */
}
.container{
    margin-bottom: 10%;
}
#about{
    padding: 0 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.logo-list{
    display: flex;
    list-style-type: none;
    gap: 4%;
    justify-content: center;
}
.ide{
    margin-top: 5%;
}
.technologies-learnt{
    padding: 10%;
}
.about-col2{
    flex-basis: 60%;
}
.about-col1 img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.about-title{
    font-size: 60px;
    color: #ffffff;
}
#project{
    padding: 30px 0px;
}
.title{
    font-size: 40px;
}
.overlay{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: auto;
    height: 0;
    transition: .5s ease;
}
.test-container:hover .overlay{
    height: 100%;
}
.test-text{
    text-align: center;
    color: white;
    width: 70%;
    margin-top: 25%;
    text-align: center;
    margin-left: 5%;
    font-weight: bold;
}
.project-img{
    height: 300px;
    width: 400px;
    border-radius: 5%;
    display: block;
}
.project-img:hover{
   
    box-shadow: rgba(253, 252, 252, 0.851) 0px 5px 15px;
}
.full-img:hover{
   
    box-shadow: rgba(253, 252, 252, 0.851) 0px 5px 15px;
}
.project-list{
    display: grid;
    padding: 4% 10%;
    grid-template-areas: "project1-img project1-description"
    "project2-description project2-img"
    "project3-img project3-description"
    "project4-description project4-img"
    "project5-img project5-description";
    row-gap: 4%;
}

.full-img{
    max-height: 500px;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}
#footer{
    background-color: rgb(45, 44, 44);
    margin-top: 20%;
    padding: 2% 5%;
}
#contact{
    display: flex;
    gap: 5%;
    margin-bottom: 10%;
}
a:hover{
    color: white;
}
a{
    text-decoration: none;
    color: #ff004f;
}

.resume{
    border-radius: 22px;
    border-style: solid;
    padding: 10px;
}
.resume:hover{
    background-color: white;
    color: #000;
}
.footer{
    padding: 2% 10%;
    background-color: rgba(99, 94, 94, 0.5);
}
.full-technologies li{
    border-radius: 22px;
    background-color: #ff004f;
    border-color: #ff004f;
    color: white;
    width: 300px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.technologies{
    list-style-type: none;
    display: flex;
    gap: 2%;
}
.technologies li{
    border-style: solid;
    border-radius: 22px;
    border-color: #ff004f;
    background-color: #ff004f;
    padding: 3px;
}
.technologies li:hover, .full-technologies li:hover{
    background-color:whitesmoke;
    color: black;
    border-color: white;
    transition: 0.5s;
}
@media (max-width:1250px){
    .project-list{
        padding: 4% 5%;
    }
}
@media (max-width:1150px){
    .project-list{
        padding: 4% 0%;
    }
   
}
@media (max-width:1000px){
    .project-list{
        grid-template-areas: "project1-img" 
        "project1-description"
     "project2-img"
     "project2-description"
    "project3-img"
    "project3-description"
    "project4-img"
    "project4-description" 
    "project5-img"
    "project5-description";
    }
    .project-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
        
    }
  
    .overlay{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .full-technologies li{
        width: 100px;
        margin-top: 3%;

    }
    .full-technologies{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #footer{
        margin-top: 80%;
    }
    
}
@media (max-width:650px){
    .full-img{
        height: 300px;
        width: 400px;
    }
}
@media (max-width:500px){
    .full-img{
        height: 200px;
        width: 200px;
    }
}